@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes float-inr {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(-100px) rotate(20deg);
    opacity: 0;
  }
}

.animate-float-inr {
  animation-name: float-inr;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
